@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: medium;
  color: #000;
  text-decoration: none;
  padding: 11px;
}
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
li {
  list-style: none;
}

.nav-links {
  display: flex;
  align-items: left;
}
#welcome-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#welcome-image {
  width: 50vw;
}
#welcome-image img {
  width: 100%;
  height: auto;
}
#welcome-text {
 width: 50vw;
}
#welcome-text h1 {
  padding: 38px 68px 17px 55px;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
    top: -36px;
 
}

#welcome-text p {
  padding: 3px 3px 3px 54px;
    position: relative;
    top: -40px;
    left: 7px;
}
